<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite name="Suite">
    <test thread-count="5" name="Test1">
      <classes>
           <class name="testngprgms.pack.c1"/>
           <class name="testngprgms.pack.c2"/>
            <class name="testngprgms.pack.c3"/>
    </classes>
  </test>
  <test thread-count="5" name="Test2">
      <classes>
         <class name="testngprgms.pack.c2"/>
          <class name="testngprgms.pack.c1"/>
           <class name="testngprgms.pack.c3"/>
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Suite -->
